body{
    position: relative;
    min-height: 100%;
}
html{
    height: 100%;
}

#left-paddle{
    position:absolute;
    width:20px;
    height:100px;
    background-color:black;
    left: -moz-calc(10% - 10px);
    left: -webkit-calc(10% - 10px);
    left: -o-calc(10% - 10px);
    left: calc(10% - 10px);
    top: -moz-calc(50% - 50px);
    top: -webkit-calc(50% - 50px);
    top: -o-calc(50% - 50px);
    top: calc(50% - 50px);
}

#right-paddle{
    position:absolute;
    width:20px;
    height:100px;
    background-color:black;
    left: -moz-calc(90% - 10px);
    left: -webkit-calc(90% - 10px);
    left: -o-calc(90% - 10px);
    left: calc(90% - 10px);
    top: -moz-calc(50% - 50px);
    top: -webkit-calc(50% - 50px);
    top: -o-calc(50% - 50px);
    top: calc(50% - 50px);
}

#ball {
    position:absolute;
    height:30px;
    width:30px;
    /* Browsers */
    left: -moz-calc(50% - 15px);
    left: -webkit-calc(50% - 15px);
    left: -o-calc(50% - 15px);
    left: calc(50% - 15px);
    top: -moz-calc(50% - 15px);
    top: -webkit-calc(50% - 15px);
    top: -o-calc(50% - 15px);
    top: calc(50% - 15px);
    border-radius:50%;
    background-color: black;
}

.btn-success{
    width:200px;
    position: absolute;
    top: 10%;
    /* Browsers */
    left: -moz-calc(50% - 100px);
    left: -webkit-calc(50% - 100px);
    left: -o-calc(50% - 100px);
    left: calc(50% - 100px);
    font-size:50px;
    
    /* box-shadow: .5px .5px .5px black; */
    text-shadow: .5px .5px .5px gray;
}

